.notFound {
  color: $primary-color;
  text-align: center;
  padding: 40px;

  h1 {
    font-size: 15rem;
    font-weight: 700;
    padding-bottom: 50px;
  }
  h3 {
    font-style: 2.25rem;
    padding-bottom: 40px;
  }
  a {
    padding-bottom: 200px;
  }
}
