.sectionLogement {
  .housingDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px;

    .housingInfos {
      h2 {
        color: $primary-color;
        font-size: 2rem;
        font-weight: 500;
      }
      h4 {
        font-size: 1.125rem;
        font-weight: 500;
      }
    }
    .ownerInfos {
      color: $primary-color;
      height: 64px;
      width: 167px;
      display: flex;
      align-items: center;
      p {
        text-align: end;
        padding-right: 10px;
      }
      img {
        height: 64px;
        border-radius: 50%;
      }
    }
  }
  .tagsAndRatingDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
  }
  .dropdownLogement {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;

    .dropdown {
      flex: 0 0 47%;
    }
  }
}
