.header {
  nav {
    display: flex;
    align-items: center;
    margin: 30px 50px;
  }
  img {
    width: 200px;
  }
  ul {
    display: flex;
    margin-left: auto;
    list-style: none;
    li {
      margin: 0 20px;
      a {
        text-decoration: none;
      }
      .active_link {
        text-decoration: underline;
        text-underline-offset: 1mm;
      }
    }
  }
}
