.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  .tag {
    background: $primary-color;
    color: $color-white;
    font-size: 0.875rem;
    padding: 5px 30px;
    margin: 10px 10px 0 0;
    border-radius: 10px;
    @media only screen and (max-width: $mobile) {
      font-size: 0.75rem;
      padding: 5px 25px;
    }
  }
}
